includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	ignoreErrors:
		# Should not happen
		-
			message: '#^Parameter \#3 \$subject of function preg_replace expects array\|string, string\|null given\.$#'
			path: %currentWorkingDirectory%/src/App/Ares/Client/SubjectClient.php
		-
			message: '#^Parameter \#1 \$str of function trim expects string, string\|null given\.$#'
			path: %currentWorkingDirectory%/src/App/Ares/Client/SubjectClient.php
		-
			message: '#^Parameter \#1 \$input of function str_pad expects string, string\|null given\.$#'
			path: %currentWorkingDirectory%/src/App/Ares/Utils/IdNumberUtils.php
		-
			message: '#^If condition is always true\.$#'
			path: %currentWorkingDirectory%/src/App/Dbd/Client/DebtorClient.php
		-
			message: '#^Only booleans are allowed in an if condition, SimpleXMLElement given\.$#'
			path: %currentWorkingDirectory%/src/App/Dbd/Client/DebtorClient.php
		-
			message: '#^Instanceof between ISPA\\ApiClients\\App\\Dbd\\Entity\\Company and ISPA\\ApiClients\\App\\Dbd\\Entity\\Company will always evaluate to true\.$#'
			path: %currentWorkingDirectory%/src/App/Dbd/Client/DebtorClient.php

		-
			message: '#^Parameter \#2 ...\$args of function array_merge expects array, array\|null given\.$#'
			path: %currentWorkingDirectory%/src/App/Lotus/Client/ProcessClient.php

		# Ignore Nette 2.4 completely, only 3.0 is validated
		-
			message: '#.+#'
			path: %currentWorkingDirectory%/src/DI/ApiClientsExtension24.php
